DATABASE_URL=postgresql+asyncpg://user:password@db:5432/db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
PORT=8000
JWT_SECRET=secret
JWT_ALGORITHM=HS256
API_VERSION=0.1.0
ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_ORIGINS=http://localhost:5173
LOG_REQUESTS=true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
MIDDLEWARE_SECRET=


DOMAIN=localhost:8000
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SERVER=
MAIL_FROM=
MAIL_FROM_NAME=
EMAIL_SECRET=
PASSWORD_RESET_SECRET=
